body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.converter-form {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.converter-form label {
  font-weight: bold;
}

.converter-form select,
.converter-form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.converter-form buttoan {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

.currency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 15px 24px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 16px;
  color: rgb(87, 87, 83);
  cursor: pointer;
  display: inline-block;
}
