.header {
  background-color: darkcyan;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 12vw;
  min-height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  z-index: 1; /* This is to make sure the currency component doesn't scroll over the header*/
}

.image {
  width: 12vw;
  height: 8vw;
  min-width: 110px;
  min-height: 80px;
  padding: 15px 24px 24px 24px;
  cursor: pointer;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 15px 24px 15px 24px;
  font-size: 1.5vw;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(87, 87, 83);
  cursor: pointer;
}
