.search-bar {
  width: 40vw;
  height: 5vw;
  border-radius: 20px;
  background-color: white;
  border-style: double;
  border-color: darkcyan;
  position: relative;
  margin-top: 5vw;
  margin-left: 30vw;
}

.search-bar .options {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 1;
  right: 0;
  top: 4vw;
}

.search-bar input {
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1.5vw;
  align-items: center;
  position: absolute;
  padding-top: 1.5vw;
  outline: none;

}

.dropdown-option {
  border: none;
  padding: 15px;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: white;
  text-align: start;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: lightcyan;
}
