* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: white;
  }
} /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

article {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  article {
    flex-direction: column;
  }
}
