.search-bar {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  border-style: double;
  border-color: darkcyan;
  position: relative;
  top: 70px;
}

.search-bar .options {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 1;
  top: 45px;
  right: 0;
}

.search-bar input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.dropdown-option {
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: white;
  text-align: start;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: lightcyan;
}
