/* Style for the search bar */
.search-bar {
  width: 70%;
  max-width: 600px;
  margin: 0 auto; /* centers the search bar */
  background-color: white;
  border-radius: 15px; /* rounded corners */
  border-style: double;
  border-color: darkcyan;
  /* box-shadow: 8px 8px 8px rgba(0.15, 0.15, 0.15, 0.15); small shadow for a "lifting effect" */
  position: relative;
  top: 70px;
}

/* Style for options-container */
.search-bar .options {
  position: absolute;
  width: 100%; /* full width of the parent */
  max-height: 200px; /* limit height */
  overflow-y: auto; /* make scrollable if needed */
  border-radius: 8px; /* rounded corners */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 1; /* be on top of other elements */
  top: 45px; /* adjust this as needed; value depends on height of search input */
}

/* style for the search input */
.search-bar input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* style for dropdown options */
.dropdown-option {
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: white;
  text-align: start;
  transition: background-color 0.2s;
}

/* specified a hover style for dropdown options */
.dropdown-option:hover {
  background-color: #f0f0f0;
}
