.header {
  background-color: darkcyan;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  z-index: 1; /* This is to make sure the currency component doesn't scroll over the header*/
}

@media screen and (min-width: 900px) {
  .header {
    height: 180px;
  }
}

.image {
  width: 48%;
  height: 28%;
  padding: 15px 24px 24px 24px;
  cursor: pointer;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 15px 24px 15px 24px;
  font-size: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(87, 87, 83);
  cursor: pointer;
  max-width: 200px;
}

@media screen and (max-width: 550px) {
  .button {
    font-size: 12px;
    padding: 10px 19px 10px 19px;
  }
}
