/* Set a background color */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Main content container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/* Result section */
.result {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Footer styles */
.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

.currency-list {
  display: flex;
  flex-wrap: wrap; /* Wrap currencies to the next row if they don't fit horizontally */
  justify-content: space-between; /* Adjust to control the spacing between currencies */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 15px 24px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 16px; /* Add margin to push the button down a bit */
  color: rgb(87, 87, 83);
  cursor: pointer;
  display: inline-block; /* Make the button a block-level element */
}

.arrow {
  background-color: white;
  border: solid darkcyan;
  border-width: 0 3px 3px 0;
  display: inline-block;

  position: absolute;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .right {
    padding: 15px;
    right: 10%;
    top: 40%;
  }
}
@media screen and (max-width: 900px) and (min-width: 450px) {
  .right {
    padding: 30px;
    right: 10%;
    top: 37.5%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 900px) {
  .right {
    padding: 30px;
    right: 5%;
    top: 60%;
  }
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .left {
    padding: 15px;
    left: 10%;
    top: 40%;
  }
}

@media screen and (max-width: 900px) and (min-width: 450px) {
  .left {
    padding: 25px;
    left: 10%;
    top: 37.5%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 900px) {
  .left {
    padding: 30px;
    left: 5%;
    top: 60%;
  }
}
