.header {
  background-color: darkcyan;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 150px;
  display: flex;
  justify-content: flex-start; /* Place items at the start of the container (left) */
  align-items: center; /* Center vertically */
  padding-left: 0px; /* Add left padding to create spacing */
  padding-top: 25px;
  width: 100%;
  z-index: 1; /* This is to make sure the currency component doesn't scroll over the header*/
}

@media screen and (max-width: 768px){
  .header {
    height: 100px; /*Reduce header-height for smaller screens */
    padding-top: 10px; /*Top-padding for vertical adjustments */
  }
  
} 
  

.image {
  width: 80%; /* Adjust the width as needed */
  height: 60%; /* Automatically adjust the height to maintain aspect ratio */
  padding: 15px 24px 15px 24px;
  cursor: pointer;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 15px 24px 15px 24px;
  font-size: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(87, 87, 83);
  cursor: pointer;
  max-width: 200px; 
}

@media screen and (max-width: 768px){
  .button{
    font-size: 10px;
  }
  
}
