.currency-card {
  background-color: #ffffff;
  border: 4px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0; /* Add a lower z-index value for currency components */
}

.currency-favorite {
  background-color: gray;
  color: white;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the hovered state */
.currency-favorite:hover {
  background-color: lightcoral; /* Red tint on hover */
}

/* Style for the pressed state */
.currency-favorite.favorite {
  background-color: lightcoral; /* Lighter shade of red when pressed */
}

.currency-flag {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.currency-details {
  flex: 1;
}

.currency-name {
  font-size: 20px;
  font-weight: bold;
}

.exchange-rate {
  font-size: 16px;
  margin-top: 8px;
  color: #555;
}
